body {
  font-family: "Roboto" sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 442px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-header {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .logo-header {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo-footer {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.16;
    display: flex;
    justify-content: center;
  }
}

.logo__component-header {
  padding-top: 24px;
  padding-bottom: 24px;
  color: black;
}

.logo__component-footer {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo__component-footer {
    margin-right: 93px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__item:nth-child(1) {
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .header-nav__item:nth-child(1) {
    margin-left: 93px;
  }
}

.header-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #2196f3;
}

.header-nav__link--studio {
  color: #2196f3;
}

.header-nav__link--studio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact__icons {
  fill: currentColor;
  display: block;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

/* - - portfolio - - */
.header-nav__link--portfolio {
  color: #2196f3;
}

.header-nav__link--portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background: #2196f3;
  border-radius: 2px;
}

.header-burger {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  min-width: 40px;
  min-height: 40px;
  box-sizing: border-box;
}

.header-burger:hover, .header-burger:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1000;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-button-header {
  position: absolute;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  background: #ffffff;
  border: 0;
  box-sizing: border-box;
}

.mobile-button-header:hover, .mobile-button-header:focus {
  fill: #2196F3;
}

.header-nav__list--modal {
  margin-bottom: 308px;
}

.header-nav__item--modal:not(:last-child) {
  margin-bottom: 32px;
}

.header-nav__link--modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link--modal:hover, .header-nav__link--modal:focus {
  color: #2196F3;
}

.header-nav__link--mobile-studio {
  color: #2196F3;
}

.header-nav__link--mobile-portfolio {
  color: #2196F3;
}

.header-contact__modal {
  margin-bottom: 64px;
}

.header-contact__item--modal:not(:last-child) {
  margin-bottom: 32px;
}

.header-contact__link-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link-modal:hover, .header-contact__link-modal:focus {
  color: #2196F3;
}

.header-contact__link-modal--tel {
  color: #2196F3;
}

@media screen and (max-width: 375px) {
  .header-contact__link-modal--tel {
    font-size: 28px;
    line-height: 1.2px;
  }
}

.header-contact__link-modal--mail {
  font-size: 24px;
  line-height: 1.16;
}

.header-sosial {
  display: flex;
  flex-wrap: nowrap;
}

.header-sosial__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header-sosial__item:last-child {
  border-right: none;
  padding-right: 0;
}

.header-sosial__item:first-child {
  padding-left: 0;
}

@media screen and (max-width: 390px) {
  .header-sosial__item {
    font-size: 15px;
    line-height: 1.2px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img./hero-bg.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img./hero-bg@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 40px;
    max-width: 696px;
  }
}

.hero__button {
  width: 200px;
  min-height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #147dd3;
}

.backdrop {
  position: fixed;
  /* z-index: 100; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-button {
  position: absolute;
  top: 9px;
  right: 9px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
}

.modal-form__text {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  position: relative;
  width: 370px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.modal-form__field:hover > .modal-form__input,
.modal-form__field:focus-within > .modal-form__input {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__icons {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:hover > .modal-form__icons,
.modal-form__field:focus-within > .modal-form__icons {
  fill: #2196f3;
}

.modal-form__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__comment-text {
  width: 370px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment-text:hover, .modal-form__comment-text:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form__comment-text {
    width: 448px;
  }
}

.modal-form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox:hover + .checkbox__icon,
.checkbox:focus + .checkbox__icon {
  border: 2px solid #2196f3;
}

.checkbox:checked + .checkbox__icon {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url(../img./vector-2.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-form__link-agreement {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form__link-agreement {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-form__div-button {
  display: flex;
  justify-content: center;
}

.modal-form__div-button--btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-form__div-button--btn:hover, .modal-form__div-button--btn:focus {
  background-color: #147dd3;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1999px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .about-advantage {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .about-advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-advantage__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-advantage__item {
    margin: 0;
    max-width: 270px;
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.about-advantage__logo {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #fcf8fc;
  border-radius: 4px;
  display: flex;
}

.about-advantage__title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 779px) {
  .about-advantage__title {
    text-align: center;
  }
}

.about-advantage__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activity__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  width: 205px;
  height: 16px;
  left: 298px;
  top: 1462px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-section__title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team-section__cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .team-section__cards-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__cards-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__cards-item {
    margin: 0;
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.employee {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee__name {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.employee__profession {
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.employee__social-list {
  display: flex;
  justify-content: center;
}

.employee__item + .employee__item {
  margin-left: 10px;
}

.employee__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee__link:hover, .employee__link:focus {
  background-color: #2196f3;
}

.employee__link:hover .employee__icons,
.employee__link:focus .employee__icons {
  fill: #ffffff;
}

.employee__icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section__title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-cards {
  display: flex;
  margin: -15px;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .clients-cards {
    margin-left: -15px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients-cards {
    justify-content: center;
    margin-left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients-cards__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-cards__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-cards__item + .clients-cards__item {
    margin-left: 15px;
  }
}

.clients-cards__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-cards__link:hover, .clients-cards__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients-cards__link {
    width: 170px;
  }
}

.clients-cards__icons {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

/* - - footer-contact - - */
@media screen and (min-width: 768px) {
  .footer__contact-social {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contact {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
}

.footer-contact__address {
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .footer-contact__address {
    text-align: center;
    width: 100%;
  }
}

.footer-contact__item {
  margin-bottom: 9px;
}

.footer-contact__item:first-child {
  margin-top: 20px;
}

.footer-contact__link {
  min-width: 231px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:hover, .footer-contact__link:focus {
  color: #ffffff99;
}

.footer-contact__link--other {
  color: #ffffff99;
}

.footer-contact__link--other:hover, .footer-contact__link--other:focus {
  color: #ffffffe1;
}

/* - - footer-social - - */
.footer-social {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icons {
  fill: currentColor;
}

/* - - footer-form - - */
@media screen and (min-width: 1200px) {
  .footer-form__subscription {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form__title {
    text-align: center;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input:hover {
  border: 1px solid rgba(207, 207, 207, 0.76);
}

@media screen and (max-width: 767px) {
  .footer-form__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-form__button {
    margin: 0 auto;
  }
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #1673c0;
}

.footer-form__button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: 10px;
}

.portfolio-button-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-button-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-button {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-button {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-button {
    margin-bottom: 50px;
  }
}

.portfolio-button__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-button__list {
    justify-content: center;
    margin-left: 8px;
  }
}

.portfolio-button__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-button__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}

.portfolio-button__btn {
  flex-basis: calc(100% / 5 - 8px);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__btn:hover, .portfolio-button__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button__btn--all {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .projects {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .projects {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.projects__link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .projects__link {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__link {
    flex-basis: calc(100% / 9 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay-card,
.projects__link:focus .projects__overlay-card {
  opacity: 1;
}

.projects__img {
  position: relative;
  width: 370px;
  height: 294px;
}

.projects__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects__overlay-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  z-index: 100;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__overlay-card,
.projects__link:focus .projects__overlay-card {
  opacity: 1;
}

.projects__overlay-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.projects__description {
  position: relative;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects__name {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__category {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */