.activity {
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
    }

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.activity__title {
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.activity__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.activity__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.activity__description {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
    width: 205px;
    height: 16px;
    left: 298px;
    top: 1462px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}