.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer-container {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}


/* - - footer-contact - - */

.footer__contact-social {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.footer-contact {

    @media screen and (max-width: 1199px){
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px){
        margin-right: 70px;
    }
}

.footer-contact__address {
    display: inline-block;

    @media screen and (max-width: 1199px){
        text-align: center;
        width: 100%;
    }
}

.footer-contact__item {
    margin-bottom: 9px;

    &:first-child {
        margin-top: 20px;
    }
}

.footer-contact__link {
    min-width: 231px;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    color: $white-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: #ffffff99;
    }
}

.footer-contact__link--other {
    color: #ffffff99;
    
    &:hover, &:focus {
    color: #ffffffe1;
    }
}


  /* - - footer-social - - */

.footer-social {
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px){
        margin-right: 80px;
    }
}

.footer-social__title {
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}

.footer-social__list {
    display: flex;
    justify-content: center;
}

.footer-social__item + .footer-social__item {
    margin-left: 10px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: $white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2196f3;
    }
}

.footer-social__icons {
    fill: currentColor;
}


/* - - footer-form - - */

.footer-form__subscription {

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-form__title {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    margin-bottom: 20px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}

.footer-form__input {
    width: 450px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: $white-color;
    background-color: #2f303a;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:hover {
        border: 1px solid rgba(207, 207, 207, 0.76);
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }
}

.footer-form__button {
    @media screen and (max-width: 1199px) {
        margin: 0 auto;
    }
    
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    min-height: 50px;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #1673c0;
    }
}

.footer-form__button-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $white-color;
    margin-right: 10px;
}