.logo-header {
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: 1.16;
    }
}

.logo-footer {
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: 1.16;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.logo__component-header {
    padding-top: 24px;
    padding-bottom: 24px;
    color: black;
}

.logo__component-footer {
    color: $white-color;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
    
}