.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;

}

// button 

.mobile-button-header {
    position: absolute;
    top: 10px;
    right: 15px;
    min-width: 40px;
    min-height: 40px;

    
    background: $white-color;
    border: opacity($color: hsla(0, 0%, 100%, 0));
    box-sizing: border-box;

    &:hover, &:focus {
        fill: $blu-color;
    }
}

// list-nav

.header-nav__list--modal {
    margin-bottom: auto;
}

.header-nav__item--modal {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.header-nav__link--modal {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $blu-color;
    }
}

.header-nav__link--mobile-studio {
    color: $blu-color;
}

.header-nav__link--mobile-portfolio {
    color: $blu-color;
}

// contact

.header-contact__modal {
    margin-bottom: 64px;
}

.header-contact__item--modal {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.header-contact__link-modal {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $blu-color;
    }
}

.header-contact__link-modal--tel {
    color: $blu-color;
}

.header-contact__link-modal--mail {
    font-size: 24px;
    line-height: 1.16;
}


// sosial

.header-sosial {
    display: flex;
    flex-wrap: wrap;
}

.header-sosial__item {
    padding-right: 10px;
    padding-left: 10px;
    
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    
    &:last-child {
        border-right: none;
        padding-right: 0;
    }
    
    &:first-child {
        padding-left: 0;
    }

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $blu-color;
}