.team-section {
    background: #f5f4fa;
    padding-bottom: 60px;
    padding-top: 60px;
    

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.team-section__title {
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}

.team-section__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.team-section__cards-item {

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: 768px) {
        width: calc(100% / 4 - 30px);
        margin-left: 30px;
    }
}

.employee {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee__name {
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.employee__profession {
    margin-bottom: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
}

.employee__social-list {
    display: flex;
    justify-content: center;
}

.employee__item + .employee__item {
    margin-left: 10px;
}

.employee__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $white-color;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2196f3;
    }

    &:hover .employee__icons , 
    &:focus .employee__icons {
        fill: $white-color;
    }
}


.employee__icons {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}