.portfolio-button-section {
    padding-top: 100px;
    padding-bottom: 94px;
}

.portfolio-button {
    margin-bottom: 56px;
}

.portfolio-button__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 8px;
}

.portfolio-button__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button__btn {
    flex-basis: calc(100% / 5 - 8px);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2196f3;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-button__btn--all {
    background-color: #2196f3;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}